<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502700662366-rdgs8tin5apjaf3huv8c548bsa6aq7ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502700662366-rdgs8tin5apjaf3huv8c548bsa6aq7ve</string>
	<key>API_KEY</key>
	<string>AIzaSyDaoPHsKln4xmfsqJdOyyiPm5i6oMkQT34</string>
	<key>GCM_SENDER_ID</key>
	<string>502700662366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-demo-bcf29</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-demo-bcf29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502700662366:ios:9831901a557c4179ed9ecf</string>
</dict>
</plist>